@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    
}
body::-webkit-scrollbar {
    display: none;
}
@layer components{
    .btn{
        @apply font-semibold text-xl hover:bg-gray-100 text-gray-600 cursor-pointer p-2.5  rounded-full
    }
    
}

.btn, .btn-large{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.btn:active{
    transform: scale(0.92);
}
.btn-large:hover{
    background: #f8f8f8;
}
.selectedBtn{
    box-shadow: none;
}

.searchInput{
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.25);
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
   
}
.sidebar{
    width: calc(100vw - 70px);
}

.division{
    grid-template-columns: 1fr auto;
}

.box-shadow{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

